<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/edit-event/style.css" />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
    </style>
    <script defer src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <div class="main-box">
            <div class="capacity-price">
                <div class="capacity">Capacidad</div>
                <div class="price">Precio</div>
                <input class="capacity-input" />
                <input class="price-input" />
            </div>
            <div class="location">
                <div class="location-label">Ubicación</div>
                <input class="location-input" />
            </div>
            <div class="edit-event">Editar evento</div>
            <button class="confirm-button">
                <div class="confirm-text">Confirmar</div>
            </button>
            <button class="cancel-button", onclick="goToEvents()">
                <div class="cancel-text">Cancelar</div>
            </button>
            <div class="image-input"></div>
            <div class="image-label">Imagen</div>
            <button class="upload-file">
                <div class="upload-text">Cargar archivo...</div>
            </button>
        </div>
        <div class="icons">
            <div class="icon-1">
                <img alt="Home" src="/edit-event/../global_assets/home.svg">
            </div>
            <div class="icon-2">
                <img alt="User" src="/edit-event/../global_assets/user.svg">
            </div>
            <div class="icon-3">
                <img alt="Log out" src="/edit-event/../global_assets/logout.svg">
            </div>
        </div>
    </div>
</body>
</html>