<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/login/globals.css" />
    <link rel="stylesheet" href="/login/style.css" />
    <script defer src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="log-in">
      <div class="div">
        <div class="lbl-welcome">¡Bienvenido!</div>
        <img class="image" src="/login/img/lander.png" />

        <form id="login-form" action="/api/login" method="get">
          <div class="lbl-uname">Usuario</div>
          <input type="text" name="user" class="overlap"></input>
          <div class="lbl-password">Contraseña</div>
          <input type="password" name="password" class="overlap-group"></input>
          <div class="btn-login">
            <button class="div-wrapper button" type="submit"><div class="text-wrapper">Iniciar sesión</div></button>
          </div>
        </form>
        <div class="btn-register">
          <button class="div-wrapper button" onclick="goToSignupUser()"><div class="text-wrapper-2">Registrar</div></buttonbutton>
        </div>
      </div>
    </div>

    <script>
      function goToSignupUser() {
        window.location.href = '/signup/user/';
      }

      const urlParams = new URLSearchParams(window.location.search);
      if (urlParams.get("error") === "invalid") {
          Swal.fire({ icon: "error", text: "¡Usuario o contraseña incorrectos!" });
      } else if (urlParams.get("error") === "server") {
          Swal.fire({ icon: "error", text: "Error de servidor, por favor intente de nuevo." });
      }
    </script>
  </body>
</html>
