<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/edit-profile/admin/style.css">
    <link rel="stylesheet" href="/edit-profile/admin/embedded-styles.css">
    <script defer src="../../script.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="form-container">
            <div class="email-input-container">
                <div><span>Correo e</span><span>lectrónico</span></div>
                <input class="input-field" />
            </div>
            <div class="phone-input-container">
                <div>Número telefónico</div>
                <input class="input-field" />
            </div>
            <div class="role-input-container">
                <div>Rol</div>
                <input class="input-field" />
            </div>
            <div class="employee-id-container">
                <div>ID Empleado</div>
                <input class="input-field" />
            </div>
            <div class="id-input-container">
                <div>Cédula de identidad</div>
                <input class="input-field" />
            </div>
            <div class="name-label">
                Nombre Completo
            </div>
            <div class="username-label">
                @username
            </div>
            <div class="admin-label">
                [Admin]
            </div>
        </div>
        <div class="icon-container">
            <div class="icon">
                <img alt="Home",onclick="goToEvents()", src="/edit-profile/admin/../../global_assets/home.svg">
            </div>
            
            <div class="icon">
                <img alt="User" src="/edit-profile/admin/../../global_assets/user.svg">
            </div>
            <div class="icon">
                <img alt="Log out" src="/edit-profile/admin/../../global_assets/logout.svg">
            </div>
        </div>
    </div>
</body>
</html>