@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --almost-pluey: #B4D5E7;
    --something-pluey: #A3C8DC;
    --Text-Default-Default: #1E1E1E;
    --Background-Default-Default: white;
    --Border-Default-Default: #D9D9D9;
    --Text-Default-Tertiary: #B3B3B3;
    --Icon-Default-Default: #1E1E1E;
}

body {
    margin: 0; /* Reset default margin */
    background-color: var(--almost-pluey);
    font-family: Inter;
}

input {
    font-size: 25px;
}

.main-container {
    width: 1280px;
    height: 720px;
    position: relative;
    background: var(--almost-pluey);
    overflow: hidden;
}

.form-container {
    width: 1011.27px;
    height: 664.93px;
    left: 134px;
    top: 37px;
    position: absolute;
    background: var(--something-pluey);
    border-radius: 38.28px;
}

.email-input-container {
    width: 516.74px;
    height: 131.41px;
    left: 482.27px;
    top: 222px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.email-input-container > div:first-child {
    align-self: stretch;
}

.email-input-container span {
    color: var(--Text-Default-Default);
    font-size: 26.59px;
    font-family: Inter;
    font-weight: 400;
    line-height: 37.23px;
    word-wrap: break-word;
}

.input-field {
    align-self: stretch;
    min-width: 398.87px;
    padding-left: 26.59px;
    padding-right: 26.59px;
    padding-top: 19.94px;
    padding-bottom: 19.94px;
    background: var(--Background-Default-Default);
    overflow: hidden;
    border-radius: 6.65px;
    outline: 1.66px #4F7EA5 solid;
    outline-offset: -0.83px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    line-height: 25px;
    height: 25px;
    font-family: Inter;
    font-size: 25px;
}

.input-text {
    flex: 1 1 0;
    color: var(--Text-Default-Default);
    font-size: 26.59px;
    font-family: Inter;
    font-weight: 400;
    line-height: 26.59px;
    word-wrap: break-word;
}

.phone-input-container {
    width: 516.74px;
    height: 130.14px;
    left: 482.27px;
    top: 358.51px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.phone-input-container > div:first-child {
    align-self: stretch;
    color: black;
    font-size: 26.59px;
    font-family: Inter;
    font-weight: 400;
    line-height: 37.23px;
    word-wrap: break-word;
}

.role-input-container {
    width: 434.87px;
    height: 129.63px;
    left: 19.14px;
    top: 223.27px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.role-input-container > div:first-child,
.employee-id-container > div:first-child,
.id-input-container > div:first-child {
    color: var(--Text-Default-Default);
    font-size: 26.59px;
    font-family: Inter;
    font-weight: 400;
    line-height: 37.23px;
    word-wrap: break-word;
    align-self: stretch;
}

.employee-id-container {
    width: 434.87px;
    height: 129.63px;
    left: 19.14px;
    top: 358.51px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.id-input-container {
    width: 434.87px;
    height: 129.63px;
    left: 19.14px;
    top: 506.51px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.input-field.placeholder {
    outline: 1.66px var(--Border-Default-Default) solid;
}

.input-field.placeholder div {
    color: var(--Text-Default-Tertiary);
    font-size: 26.59px;
    font-family: Inter;
    font-weight: 400;
    line-height: 26.59px;
    word-wrap: break-word;
}

.name-label {
    width: 347px;
    height: 46px;
    left: 332px;
    top: 51px;
    position: absolute;
    color: black;
    font-size: 40px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.username-label {
    width: 173px;
    height: 37px;
    left: 419px;
    top: 97px;
    position: absolute;
    color: #757575;
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.admin-label {
    width: 103px;
    height: 29px;
    left: 454px;
    top: 139px;
    position: absolute;
    color: #B56E28;
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
    line-height: 25px;
    word-wrap: break-word;
    text-align: center;
}

.icon-container {
    width: 232.75px;
    height: 61.62px;
    left: 524px;
    top: 6px;
    position: absolute;
    display: flex;
}

.icon {
    height: 61.24px;
    width: 61.4px;
    overflow: hidden;
    position: absolute;
    background: none;
    border: none;
}

.icon:nth-child(1) {
    left: 0;
    top: 0.38px;
}

.icon:nth-child(2) {
    left: 86.76px;
    top: 0.38px;
}

.icon:nth-child(3) {
    left: 171.35px;
    top: 0px;
}

.icon:nth-child(1) div {
    width: 46.05px;
    height: 51.03px;
    left: 7.67px;
    top: 5.1px;
    position: absolute;
    outline: 5.1px var(--Icon-Default-Default) solid;
    outline-offset: -2.55px;
}

.icon:nth-child(2) div {
    width: 40.93px;
    height: 45.93px;
    left: 10.23px;
    top: 7.66px;
    position: absolute;
    outline: 5.1px var(--Icon-Default-Default) solid;
    outline-offset: -2.55px;
}

.icon:nth-child(3) div {
    width: 46.05px;
    height: 45.93px;
    left: 7.67px;
    top: 7.66px;
    position: absolute;
    outline: 5.1px var(--Icon-Default-Default) solid;
    outline-offset: -2.55px;
}
.cancel-button {
    padding: 10px;
    left: 20px;
    top: 596px;
    position: absolute;
    background: var(--grauey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 26.59px;
    font-family: Inter;
    font-weight: 400;
    line-height: 37.23px;
    word-wrap: break-word;
}