<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/admin-panel/globals.css" />
    <link rel="stylesheet" href="/admin-panel/styleguide.css" />
    <link rel="stylesheet" href="/admin-panel/style.css" />
    <script defer src="../script.js"></script>
    <script defer src="/admin-panel/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Admin</title>
  </head>

  <body>
    <div class="admin-dashboard">
      <div class="div">
        <div class="overlap-group">
          <div class="overlap">
            <div class="text-wrapper">Panel admin</div>
            <div class="text-wrapper">Panel admin</div>
            <div class="text-wrapper">Panel admin</div>
          </div>
          <img class="user" src="/admin-panel/../global_assets/user.svg" onclick="goToEditProfile()"/>
        </div>
        <div class="overlap-2">
          <div class="group">
            <div class="text-wrapper-2">Administrar eventos</div>
            <button class="statsbutton" ,="" onclick="goToStatistics()">
              Estadísticas
            </button>
            <button class="button" ,="" onclick="goToCreateEvent()">Crear</button>
            <div id="events-list" class="events-list">
              <!-- Events will be loaded here -->
            </div>
            <button class="button-3" ,="" onclick="goToEvents()">Volver</button>
          </div>
        </div>
      </div>
    </div>

    <div id="sms-verification" class="dialog-container" style="display: none">
      <h1>Confirmación de borrado</h1>

      <div class="input-group">
        <div class="input-row">
          <h2>Número de teléfono</h2>
          <div class="input-wrapper">
            <input type="text" id="input-phone" />
            <button class="btn enviar-btn" onclick="sendMessage()">
              Enviar
            </button>
          </div>
        </div>

        <div class="input-row">
          <h2>Palabra recibida</h2>
          <input type="text" id="sms-code" />
        </div>
      </div>

      <div class="button-group">
        <button class="btn cancelar-btn" onclick="cancel()">Cancelar</button>
        <button class="btn siguiente-btn" onclick="verifySMSCode()">
          Siguiente
        </button>
      </div>
    </div>
    <div id="email-verification" class="dialog-container" style="display: none">
      <h1>Confirmación de borrado</h1>

      <div class="input-group">
        <div class="input-row">
          <h2>Correo electrónico</h2>
          <div class="input-wrapper">
            <input type="text" id="input-email" />
            <button class="btn enviar-btn" onclick="sendEmail()">Enviar</button>
          </div>
        </div>

        <div class="input-row">
          <h2>Código recibido</h2>
          <input type="text" id="email-code" />
        </div>
      </div>

      <div class="button-group">
        <button class="btn cancelar-btn" onclick="cancel()">Cancelar</button>
        <button class="btn siguiente-btn" onclick="verifyEmailCode()">
          Siguiente
        </button>
      </div>
    </div>

    <div id="last-confirm" class="dialog-container" style="display: none">
      <h1>Confirmación de borrado</h1>

      <span>
        ¡Esta es una operación irreversible!<br /><br />
        Todos los datos asociados se perderán.<br /><br /><br />
        ¿Está seguro que desea borrar este evento?
      </span>

      <div class="button-group">
        <button class="btn cancelar-btn" onclick="cancel()">Cancelar</button>
        <button class="btn confirmar-btn" onclick="finalDeleteEvent()">
          Confirmar
        </button>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        const events = await fetchEvents();
        renderEvents(events);
      });
    </script>
  </body>
</html>
