@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --almost-pluey: #b4d5e7;
    --something-pluey: #a3c8dc;
    --Text-Default-Default: #1e1e1e;
    --Background-Default-Default: white;
    --Border-Default-Default: #d9d9d9;
    --Text-Default-Tertiary: #b3b3b3;
    --Icon-Default-Default: #1e1e1e;
}

body {
    margin: 0; /* Reset default margin */
    background-color: var(--almost-pluey);
}

.container {
    width: 1280px;
    height: 720px;
    position: relative;
    background: var(--almost-pluey);
    overflow: hidden;
}

.form-container {
    width: 1011.27px;
    height: 664.93px;
    left: 134px;
    top: 37px;
    position: absolute;
    background: var(--something-pluey);
    border-radius: 38.28px;
}

.form-group {
    width: 516.74px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
}

.form-group:nth-child(1) {
    top: 216px;
    left: 19px;
}

.form-group:nth-child(2) {
    top: 347.41px;
    left: 19px;
}

.form-group:nth-child(3) {
    top: 216px;
    left: 551px;
    width: 434.87px;
}

label {
    align-self: stretch;
    color: var(--Text-Default-Default);
    font-size: 26.59px;
    font-family: Inter;
    font-weight: 400;
    line-height: 37.23px;
    word-wrap: break-word;
}

.input-field {
    align-self: stretch;
    min-width: 398.87px;
    padding: 19.94px 26.59px;
    background: var(--Background-Default-Default);
    overflow: hidden;
    border-radius: 6.65px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    font-size: 26.59px;
    font-family: Inter;
    font-weight: 400;
    line-height: 26.59px;
    word-wrap: break-word;
}

.input-field {
    outline: 1.66px #4f7ea5 solid;
    outline-offset: -0.83px;
}

.form-group:nth-child(3) .input-field {
    outline: 1.66px var(--Border-Default-Default) solid;
}

.placeholder {
    color: var(--Text-Default-Tertiary);
}

.icons {
    width: 232.75px;
    height: 61.62px;
    left: 524px;
    top: 6px;
    position: absolute;
}

.icon {
    width: 61.4px;
    height: 61.24px;
    position: absolute;
    overflow: hidden;
    background: none;
    border: none;
}

.icon:nth-child(1) {
    left: 171.35px;
    top: 0px;
}

.icon:nth-child(2) {
    left: 86.76px;
    top: 0.38px;
}

.icon:nth-child(3) {
    left: 0px;
    top: 0.38px;
}

.icon:nth-child(1)::before {
    width: 46.05px;
    height: 45.93px;
    left: 7.67px;
    top: 7.66px;
}

.icon:nth-child(2)::before {
    width: 40.93px;
    height: 45.93px;
    left: 10.23px;
    top: 7.66px;
}

.icon:nth-child(3)::before {
    width: 46.05px;
    height: 51.03px;
    left: 7.67px;
    top: 5.1px;
}

.name-title {
    width: 347px;
    height: 46px;
    left: 466px;
    top: 93px;
    position: absolute;
    color: black;
    font-size: 40px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.username {
    width: 173px;
    height: 37px;
    left: 553px;
    top: 139px;
    position: absolute;
    color: #757575;
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.user-type {
    width: 93px;
    height: 30px;
    left: 593px;
    top: 181px;
    position: absolute;
    text-align: center;
    color: #4f7ea5;
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
    line-height: 25px;
    word-wrap: break-word;
}