<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <script src="../../script.js"></script>
    <link rel="stylesheet" href="/signup/user/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="form-container">
        <form action="/api/signup/user">
          <div class="input-field-group">
            <label for="nombre">Nombre</label>
            <input name="name" class="input-wrapper" />
          </div>
          <div class="input-field-group">
            <label for="cedula">Cédula de identidad</label>
            <input name="cedula" class="input-wrapper" />
          </div>
          <div class="input-field-group">
            <label for="correo">Correo electrónico</label>
            <input name="email" class="input-wrapper" />
          </div>
          <div class="input-field-group">
            <label for="telefono">Número telefónico</label>
            <input name="phone" class="input-wrapper" />
          </div>
          <div class="input-field-group">
            <label for="username">Username</label>
            <input name="username" class="input-wrapper" />
          </div>
          <div class="input-field-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="input-wrapper" />
          </div>
          <button type="submit" class="register-button">Registrar</button>
        </form>
        <div class="admin-user-toggle">
          <button class="admin-button" onclick="goToSignupAdmin()">
            Administrador
          </button>
          <button class="user-button">Usuario</button>
        </div>
        <div class="log-in-link" onclick="goToLogin()">Log In</div>
      </div>

      <div class="logo-group">
        <div class="logo-item"></div>
        <div class="logo-item"></div>
        <div class="logo-item"></div>
      </div>
    </div>
    <script>
      function goToSignupAdmin() {
        window.location.href = "/signup/admin/";
      }

      const params = new URLSearchParams(window.location.search);
      if (params.has("error")) {
        Swal.fire({ icon: "error", text: params.get("error") });
      }
    </script>
  </body>
</html>
